html {
	color: white;
	background: black;
	
}

.middle {
	width: 300px;
	margin-left: 40%;
	text-align: center; 
}

.pasta {
	width: 300px;
	margin-left: 40%;
	text-left-side: 30%;
}

.hitler{
	width: 300px;
	margin-left:40%;
	text-left-side: 30%;
}



.war-img{
	width:300px;
	margin-left:40%;
	text-left-side:30%;
}

.Hiroshima{
	width:300px;
	margin-left:40%;
	text-left-side:30%;
}

#germany-img{
	
	
	width: 300px;
	margin-left: 40%;
}